@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sen&display=swap');

:root {
  --primary-color: rgb(115, 4, 176);
  --primary-variant: #D00076;
  --secondary-color: #9FEF00;
  --tertiary-color: rgb(255, 211, 0);
  
  --on-primary: rgb(250, 250, 250);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(0, 0, 0);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Oswald, sans-serif;
  background-color: var(--background);
  overflow-y: scroll;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Navigation */
nav {
  position: fixed;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  letter-spacing: 4px;
  padding: 25px;
  overflow-x: hidden;
  background: rgb(0 0 0 / 10%);
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  color: var(--tertiary-color);
  border-bottom: 3px solid;
}

/*nav {
  position: relative;
}*/

/* Video Background */
.video-background {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 80vh;
  z-index: -2;
}

video {
  position: absolute;
  object-fit: cover;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 80vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
 transform: translate(0%, 0%);
}

.text-box {
  position: relative;
  width: 40%;
  text-align: justify;
  background: rgb(0 0 0 / 50%);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 30px;
}

p {
  margin: 0;
/*  line-height: 25px;*/
  font-size: 1rem;
}

.presentation-container {
  position: relative;
  z-index: 2;
  width: cover;
/*  z-index: 0;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(0%, -135%);
}

.presentation-container img {
  padding: 20px;
  height: 100%;
  border-radius: 50%;
}

.contact-container {
  justify-content: space-evenly;
/*  align-items: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
/*  align-items: center;*/
  gap: 10px;
}

.project-container  {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

}

.project-container img {

/*  padding: 20px;*/
/*  padding-bottom: 0;*/
  width: 20rem;
  border-radius: 20px;
/*  display: block;*/
}

.project-container text-box {
  width: 90%;
}

.programming-language-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

/*
.project-container text-box {
  
}*/

.links-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
/*  gap: 2rem;*/
}

/*.contact-container form {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-right: 50px;
}*/


.form-container {
  font-family: Sen, sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
/*  background: #c9ced3;*/

  width: 480px;
  height: 600px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

/*Form*/
form {
  width: 90%;
}

.form-group {
  height: 65px;
}

label {
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box; /*this evens out the box size to fit the container, which above settings combined inbalance*/
  transition: all 0,3s;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
/*  border: 2px solid #ccc;*/
  border-radius: 5px;
  border: 1px solid black;
/*  background-color: #f8f8f8;*/
  resize: none;
  outline: none;
  font-family: Sen, sans-serif;
}

button {
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: Sen, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(200%);
  background: rgb(22, 22, 22);
}

button:focus {
  outline: none;
}

.message-container {
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
}

/* Contact Section */
.fa-brands, 
.fa-solid {
  font-size: 70px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
  z-index: 10;
}

.fa-brands:hover, .fa-solid:hover {
  color: var(--tertiary-color);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


@media screen and (max-width: 600px) {
  .presentation-container {
    flex-wrap: wrap-reverse;
  }
  video {
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  }
}